{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "10.12.0"
      }
    }]
  ],
  "ignore": ["src/external"],
  "plugins": [
    "@babel/plugin-transform-flow-strip-types",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
