extends layout.pug

block head
  title Terms of Use

block content
  h1 Terms of Use for Alexa Skill
  br
  h4 General
  p This Terms of Use are an agreement between you (the „user”) and Tomas Kislan (“me", “us” or “we”). Before using any of our Alexa Skill (“our skill”), please read this agreement and our #[a(href='/privacy-policy/alexa') Alexa Skill Privacy Policy] as well as the #[a(href='https://www.amazon.com/gp/help/customer/display.html?nodeId=201809740' target='_blank') Alexa Terms of Use] by the Amazon Digital Services LLC (with its affiliates, “Amazon”).
  p Regarding Amazon, “Alexa” means their Alexa Voice Service which includes third party services (like our skills) and other related Software.
  p If you use one of our skills you fully agree to this Terms of Use.

  h4 Disclaimer
  p Our skills or parts of it may discontinue at any time or might contain errors. You use our skills on your own responsibility. Any information should not be seen as an advice.

  h4 Changes
  p Our skills or parts of it may change or be updated at any time. Further, our Terms of Use might change. You can find a link to this agreement on the description page of the skill in the Alexa App or in the Alexa Store. Your continued use of our skill after changes of the Terms of Use or the skill itself will be seen as your acceptance of both.

  h4 For You
  p We love developing Alexa Skills for you. And we love to make things better by developing digital products and services.
