extends layout.pug

block head
    title Kodi Connect - Alexa Skill

block content
    h1 Alexa Skill
    if error
        p Error: #{error}

    if !skillCreated
        form(method='POST' action='/alexa-skill/create')
            button.pt-button(type='submit' name='create') Create skill
