tr.device-row
    td= skill.id
    td(style='font-family: monospace;')= skill.invitesRemaining
    td
        form(method='POST' action='/admin/alexa-skill/remove/' + skill.id)
            button.pt-button.pt-minimal.pt-icon-trash(type='submit' name='remove')
