extends layout.pug

block head
  title Kodi Connect - Home

block content
  h1 Home
  div.home-container
    a.pt-button(role="button" href='/login' tabindex="0") Login
    br
    a.pt-button(role="button" href='/register' tabindex="0") Register

