extends layout.pug

block head
  title Kodi Connect - Register

block content
  h1 Register
  form(method='POST' action='/register')
    div.pt-form-group.pt-inline
      div.pt-form-content
        div.pt-input-group
          span.pt-icon.pt-icon-user
          input.pt-input(type='text' id='email' placeholder='Email' name='email' value='')
    div.pt-form-group.pt-inline
      div.pt-form-content
        div.pt-input-group
          span.pt-icon.pt-icon-key
          input.pt-input(type='password' id='password' placeholder='Password' name='password' value='')
    div.pt-form-group.pt-inline
      div.pt-form-content
        div.pt-input-group
          span.pt-icon.pt-icon-key
          input.pt-input(type='password' id='repeatPassword' placeholder='Repeat Password' name='repeatPassword' value='')
    button.pt-button(type='submit') Register

  a(href="/login") Login
