extends layout.pug

block head
    title Kodi Connect - Admin

block content
    h1 Devices
    if error
        p Error: #{error}

    form(method='POST' action='/logout')
        button.pt-button(type='submit' name='logout') Logout
